= form_tag auth_path, :class => '' do
  %div.form-group
    = label_tag :email
    = text_field_tag :email, params[:email], :placeholder => 'Email or Username', :class => 'form-control'

  %div.form-group
    = label_tag :password
    = password_field_tag :password, nil, :placeholder => 'Password', :class => 'form-control'
  %div.form-group
    = check_box_tag 'remember_me', 'yes', true
    = label_tag :remember_me
  %p.button= submit_tag "Log in", :class => 'btn btn-primary'
