.row
  .col-md-6.col-md-offset-3
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, :autofocus => true, :class => "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, :class => "form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :class => "form-control"
      .form-group
        = f.submit "Sign up", :class => "btn btn-success"
    = render "devise/shared/links"
