<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :email, :placeholder => 'Email' %>
  </p>
  <p>
    <%= f.password_field :password, :placeholder => 'Password' %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirm' %>
  </p>
  <p class="button"><%= f.submit :class => 'btn btn-success', :value => 'Register' %></p>
<% end %>