= form_for @user, :html => {:class => "form-horizontal"} do |f|
  - if @user.errors.any?
    .alert.alert-error
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %p
    = f.text_field :email, :placeholder => 'Email'
  %p
    = f.password_field :password, :placeholder => 'Password'
  %p
    = f.password_field :password_confirmation, :placeholder => 'Password confirm'
  %p.button= f.submit :class => 'btn btn-success', :value => 'Register'
