= form_for @user, :html => {:class => ""} do |f|
  - if @user.errors.any?
    .alert.alert-danger.alert-block
      %h4 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %div.form-group
    = f.label :email
    = f.text_field :email, :placeholder => 'Email', :class => 'form-control'
  %div.form-group
    = f.label :username
    = f.text_field :username, :placeholder => 'Username', :class => 'form-control'
  %div.form-group
    = f.label :password
    = f.password_field :password, :placeholder => 'Password', :class => 'form-control'
  %div.form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :placeholder => 'Password confirm', :class => 'form-control'
  %p.button= f.submit :class => 'btn btn-success', :value => 'Sign up'
