<h2>Users</h2>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Email</th>
			<th>#</th>
			<th>#</th>
			<th>#</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= link_to "Show", user %></td>
			<td><%= link_to "Edit", edit_user_path(user) %></td>
			<td><%= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table>