%h2 Users
%hr
  %table.table.table-bordered
    %thead
      %tr
        %th #
        %th Email
        %th #
        %th #
        %th #
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= link_to "Show", user
          %td= link_to "Edit", edit_user_path(user)
          %td= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete
