.row
  .col-md-6.col-md-offset-3
    %h2 Forgot your password?
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, :autofocus => true, :class => "form-control"
      .form-group
        = f.submit "Send me reset password instructions", :class => "btn btn-info"
    = render "devise/shared/links"
