<h1>Hello!</h1>

<% unless admin_signed_in? -%>
  <p><%= link_to 'Sign up as Admin', new_admin_registration_path %></p>
  <p><%= link_to 'Sign in as Admin', new_admin_session_path %></p>
<% end -%>

<% unless user_signed_in? -%>
  <p><%= link_to 'Sign up as User', new_user_registration_path %></p>
  <p><%= link_to 'Sign in as User', new_user_session_path %></p>
<% end -%>

<% if user_signed_in? -%>
  <p><%= link_to 'Token Authentication Example', token_path(auth_token: current_user.authentication_token) %></p>
<% end -%>

<div class='row'>
  <div class='col-12 col-sm-12 col-lg-4 col-offset-4'>
    <h2 class='center'>RailStrap v0.3</h2>
    <hr>
    <div class='tabbable'>
      <ul class='nav nav-tabs'>
        <li class='active'>
          <a data-toggle='tab' href='#tab1'>Log in</a>
        </li>
        <li>
          <a data-toggle='tab' href='#tab2'>Sign up</a>
        </li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='tab1'>
          <div class='panel'>
            <form accept-charset="UTF-8" action="/sessions" class="" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ScmpGbEMl0CH6HzfThLYNfwol+nsjiwtqks5Hxv416w=" /></div>
              <div class='form-group'>
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Email or Username" type="text" />
              </div>
              <div class='form-group'>
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password" type="password" />
              </div>
              <p class='button'><input class="btn btn-primary" name="commit" type="submit" value="Log in" /></p>
            </form>


          </div>
        </div>
        <div class='tab-pane' id='tab2'>
          <div class='panel'>
            <form accept-charset="UTF-8" action="/users" class="" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ScmpGbEMl0CH6HzfThLYNfwol+nsjiwtqks5Hxv416w=" /></div><div class='form-group'>
              <label for="user_email">Email</label>
              <input class="form-control" id="user_email" name="user[email]" placeholder="Email" type="text" />
            </div>
            <div class='form-group'>
              <label for="user_username">Username</label>
              <input class="form-control" id="user_username" name="user[username]" placeholder="Username" type="text" />
            </div>
            <div class='form-group'>
              <label for="user_password">Password</label>
              <input class="form-control" id="user_password" name="user[password]" placeholder="Password" type="password" />
            </div>
            <div class='form-group'>
              <label for="user_password_confirmation">Password confirmation</label>
              <input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password confirm" type="password" />
            </div>
            <p class='button'><input class="btn btn-success" name="commit" type="submit" value="Sign up" /></p>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
