<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Devise") %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag :application %>
    <%= yield(:head) %>
    <style>
    /* Sticky footer styles
    -------------------------------------------------- */

    html,
    body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by its height */
      margin: 0 auto -60px;
      /* Pad bottom by footer height */
      padding: 0 0 60px;
    }

    /* Set the fixed height of the footer here */
    #footer {
      height: 60px;
      background-color: #f5f5f5;
    }


    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    #wrap > .container {
      padding: 60px 15px 0;
    }
    .container .credit {
      margin: 20px 0;
    }

    #footer > .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    code {
      font-size: 80%;
    }
    </style>
  </head>
  <body>

   <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Home', root_path, :class => 'navbar-brand' %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <% if user_signed_in? -%>
              <li><%= current_user.email %></li>
              <li><%= link_to 'My info', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              <% end -%>
              <% if admin_signed_in? -%>
              <li><%= current_admin.email %></li>
              <li><%= link_to 'Admin section', admins_path %></li>
              <li><%= link_to 'Manage users', manage_path %></li>
              <li><%= link_to 'Sign out', destroy_admin_session_path, method: :delete %></li>
              <% end -%>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>

        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>

  </body>
</html>
